/**
 * slide container
 */
.slide-container{
  position: relative;
  margin:0 auto;
  width: 100%;
}

.slide-wrap{
    position: relative;
    width: 100%;
    overflow: hidden;
}

/**
 * slide item's
 */
.slide-wrap .slide-items{
    /*font-size: 0;
    white-space: nowrap;*/
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
}

.slide-wrap .slide-items li{
  display: inline-block;
}
.slide-wrap .slide-items li a{
  display: block;
}

.slide-wrap .slide-items li img{
  width: 100%;
  height: auto;
  display: block;
}

/**
 * indicator
 */
.slide-wrap .slide-indicator{
  position: absolute;
  width: 100%;
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0;
  bottom: 24px;
}

.slide-wrap .slide-indicator > li{
  background: #555;
  border-radius: .75em;
  cursor: pointer;
  display: inline-block;
  height: .75em;
  margin: 0 .75em;
  width: .75em;
}

.slide-wrap .slide-indicator > li.current{
  background: #fff;
}

/**
 * navigation
 */
.slide-navigator.hidden{
  display: none;
}

#next, #prev{
  color: #fff;
  position: absolute;
  background: rgba(0,0,0, .6);
  top: 50%;
  z-index: 1;
  font-size: 2em;
  margin-top: -.75em;
  opacity: .3;
  user-select: none;
}
#next:hover, #prev:hover{
  cursor: pointer;
  opacity: 1;
}
#next{
  right: 0;
  padding: 10px 5px 15px 10px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
#prev{
  left: 0;
  padding: 10px 10px 15px 5px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
